.dot-controller-container {
  z-index: var(--ss-z-dotController);
  position: fixed;
  padding: 10px;
  transform: translate(-15px, -15px);
  user-select: none;
}

.dot-controller {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
