@use './common.scss' as common;

.size-indicator {
    color: #000;
    position: fixed;
    padding: 0 8px;
    border-radius: 4px;
    user-select: none;
    background-color: #fff;
    transform: translateY(calc(-100% - 10px));
}