/** @format */
@use "./common.scss" as common;

.text-box {
  @include common.common;
}

.text-box:hover {
  @include common.hover;
}

.text-box-input {
  color: red;
  z-index: 77;
  resize: none;
  outline: none;
  font-size: 20px;
  position: fixed;
  overflow: hidden;
  text-wrap: nowrap;
  font-family: system-ui;
  border: 1px solid red;
  background-color: transparent;
}
