/** @format */
@use "./common.scss" as common;

.text-box {
  @include common.common;
}

.text-box:hover {
  @include common.hover;
}

.text-box-input {
  color: red;
  z-index: 77;
  outline: none;
  font-size: 17px;
  position: fixed;
  min-width: 100px;
  min-height: 17px;
  padding: 6px 10px;
  border: 1px solid red;
}
